/*
wood brown: A89F68;
army green: 41521F;
*/


/*NAVBAR*/

 
 /*Welcome Section*/
 /*background photo*/
 .welcome{
     background-image: url(../img/portada.jpg);
     width:100%;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     
 }
.nav-mio{
    background-color: transparent;
    border: none;
}

.cont {
    padding: 100px 0;
    margin-bottom: 10px;
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: bold;
}

/*SECCION 2*/
.container-photo img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

}